@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

@keyframes swapcard-zoom {    /*swapcard*/
  0% {
    transform: scale(0);
    opacity: 0;
  }
  8.33% {
    transform: scale(1);
    opacity: 1;
  }
  91.66% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.animate-swapcard-zoom {
  animation: swapcard-zoom 6s cubic-bezier(0.4,0,0.2,1) infinite;
}
